
@{
    ViewData["Title"] = "EmployeeDetails";
}

<h1>Employee Details</h1>
<p>
    Name : @ViewBag.Name
</p>
<p>
    Email : @ViewBag.Email
</p>
<p>
    Gender : @ViewBag.Gender
</p>
<p>
    City : @ViewBag.City
</p>
<p>
    Department : @ViewBag.Department
</p>
<p>
    Qualification : @ViewBag.Qualification
</p>


